<!DOCTYPE html>
<html class="no-js" lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="renderer" content="webkit" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="shortcut icon" href="@@ASSETS/images/favicons/favicon.ico">

<title>@@page-title</title>
<!-- build:css plugins/css/core.min.css -->
@@include('common/_plugin-style.html')
<!-- endbuild -->
<!-- build:css  stylesheets/common/app.min.css-->
<link rel="stylesheet" href="@@ASSETS/stylesheets/common/util.css">
<link rel="stylesheet" href="@@ASSETS/stylesheets/common/common.css">
<!-- endbuild -->
<!-- build:css stylesheets/pages/pages.min.css -->
<link rel="stylesheet" href="@@ASSETS/stylesheets/pages/@@page-id.css">
<!-- endbuild -->
<script src="@@ASSETS/plugins/modernizr/modernizr.js"></script>
</head>
<body class="@@page-id">
