<!DOCTYPE html>
<html class="no-js" lang="zh-cmn-Hans">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="renderer" content="webkit" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="shortcut icon" href="/images/favicons/favicon.ico">

<title>首页</title>
<!-- build:css bundle.css -->
<link rel="stylesheet" href="/build/bundle.css" type="text/css">
<!-- endbuild -->
<!-- build:css website-index.css -->
<link rel="stylesheet" href="/build/website-index.css">
<!-- endbuild -->
<script src="/plugins/modernizr/modernizr.js"></script>
</head>
<body>

<h1>Welcome to Webapp Kit!</h1>
<!-- build:js bundle.js -->
<script type="text/javascript" src="/build/bundle.js"></script>
<!-- endbuild -->
<!-- build:js website-index.js -->
<script type="text/javascript" src="/build/website-index.js"></script>
<!-- endbuild -->

</body>
</html>
